name: Check Docker
description: This workflow runs checks on docker files

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    paths:
      - "docker/**"
      - "Dockerfile"
  push:
    branches:
      - main
    paths:
      - "docker/**"
      - "Dockerfile"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  dockerlint:
    name: "Dockerlint"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Pre-pull hadolint image
        run: docker pull hadolint/hadolint:latest
        shell: bash

      - name: Lint all Dockerfiles
        run: |
          set -eo pipefail
          find docker -name 'Dockerfile' | while read -r file; do
            echo "Linting $file"
            cat "$file" | docker run --rm -i hadolint/hadolint hadolint --verbose -
          done
        shell: bash

      - name: Build images (dry run)
        run: |
          set -eo pipefail
          find docker -name 'Dockerfile' | while read -r file; do
            echo "Building $file"
            dir=$(dirname "$file")
            docker build --pull --no-cache --file "$file" --tag "dummy-image" "$dir"
          done
        shell: bash
